html,
body {
  margin: 0;
  padding: 0;
}

/* ! Music page main div */
.Music-Section {
  background-image:  linear-gradient( #544a7d 11%,#ffd452  11%,#ffd452 29%, #544a7d 29%, #544a7d 47%,#ffd452  47%,#ffd452 65%, #544a7d 65%, #544a7d 83%,#ffd452  83%,#ffd452 100%);
  width: 130%;
  margin-left: -15.2%;
  background-size: cover;
  padding-bottom: 16px;
  transform: translateX(-20rem);
}

/*  music page main heading  and description*/

.mainHeading {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 6.3px;
  font-size: 8rem;
}
.pageHeading {
  padding: 10rem 0rem;
  line-height: 12px;
  margin-left: 3rem;
  transform: translateX(53rem);
  color: #ffd452;
  text-shadow: 0px 4px 2rem #000;
  width: 20%;
}
  /* paragraph of heading */
  .description{
    font-size: 2.3rem;
  }

/* ! Grids */

.row-test{
  max-width: 114rem;
  margin: 0 auto ;
}
.row-test:not(:last-child){
margin-bottom: 8rem;
}
.col-1-of-2{
  width: 53rem;
  float: left;
}
.col-1-of-2:not(:last-child){
  margin-right: 4rem;
}
.row-test::after{
  content: "";
  display: table;
  clear: both;
}
.col-1-of-3{
  width: 34rem;
  float: left;
}
.col-2-of-3{
  width: 74rem;
  float: left;
  
}
.col-1-of-3:not(:last-child){
  margin-right: 6rem;
}
.music-cards{
  width: 150%;
  height: 100%;
  transform: translateX(-10rem)
}
audio{
  outline: none;
  transform: translateX(-1.5rem)
}
/* 
* for i frames

! Track sectin-2
.track_section-1 {
  width: 40%;
  height: 20%;
  margin-left: 5%;
  padding: 1%;
  float: left;
}


! Track sectin-2
.track_section-2 {
  width: 40%;
  height: 20%;
  margin-right: 10%;
  margin-top: 30%;
  padding: 1%;
  float: right;
} 

*/
 
