/* ! Home page main div */

.maindiv {
  background-image: url(../../images/wallpaper7.jpg);
  height: 100%;
  background-size: cover;
}
/*  home page main heading  and intro*/

.nameHeading {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 4rem;
}
.intro {
  padding: 15% 10%;
  line-height: 12px;
  font-size: 1.6rem
}
/* ?  Universal */

/*   Gap line <hr/> */
.gap {
  width: 10%;
}

/* about para  */

.about_shows {
  display: block;
  font-weight: 500;
  line-height: 20px;
}

/* *** Section shows */

.section_shows {
  background: rgba(0, 0, 0, 0.5);
  width: 35%;
  margin-left: 10%;
  color: white;
  font-weight: 300;
  line-height: 20px;
  padding: 1%;
  font-size: 1.6rem;
}

/*  Links */

a.links-white,
a.links-white:link {
  text-decoration: none;
  color: white;
}

/* * News Section */

.section_news {
  font-size: 1.6rem;
  background: rgba(255, 255, 255, 0.5);
  width: 35%;
  margin-left: 10%;
  color: black;
  font-weight: 300;
  line-height: 20px;
  padding: 1%;
}

/*  Links */

a.links-black,
a.links-black:link {
  text-decoration: none;
  color: black;
}

/* *** Section music */

.section-music {
  font-size: 1.6rem;
  height:50rem;
  width:34rem;
  padding: 1rem;
  margin-bottom: 5rem;
  margin-left: -6%
}

/*  Links */

a.links-black,
a.links-black:link {
  text-decoration: none;
  color: black;
}


/* * contact Section */

.section-contact {
  font-size: 1.6rem;
  width:50vh;
  margin-left: 10%;
  line-height: 20px;
  padding: 1%;
  margin-top: 10rem;
  text-align: center
}

/* contact heading */

.contact-heading {
  color: white;
  font-weight: 300;
}

/* contact button */

.contact-button {
  display: block;
  margin-top: 5%;
  width: 290px;
  height: 30px;

}

/* input for contact section for mailing */
input.email {
  width: 300px;
  height: 30px;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  cursor: text;
  border-image: initial;
  border-radius: 0;
  border-width: 1px;
  background-color: rgba(5, 5, 5, 1);
  box-sizing: border-box !important;
  color: #ffffff;
  border-style: solid;
  border-color: rgba(255, 255, 0,1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  flex: 1;
  text-overflow: ellipsis;
}
