.btn-none {
  transition: all .3s;
  display: inline-block;
  text-decoration: none;
  padding: 0
}

.img-gallery {
  max-width: 100%;
  display: inline-block;
  transition: all 0.3s
}



.col-1-of3:target {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -53.25%) scale(1.1);
  z-index: 10;
  transition: all 0.5s;
  width: 103% !important;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  animation: imageAnimation 1s;
  cursor: default;
}

.col-1-of3:target:hover {
  transform: translate(-50%, -53.25%) scale(1.1);

}

.col-1-of3:target .btn-none {
  transform: scale(1.4);
  position: absolute;
  max-width: 40%;
  top: 18.5%;
  left: 35%;
  cursor: default;

}

.col-1-of3:target .img-gallery {
  max-height: 60vh;
  cursor: default;
  transition: all 0.2s;
}

.col-1-of3:target .img-gallery:hover {
  transform: scale(1);
  outline: none;
}

.fig-caption {
  display: none;
  visibility: hidden;
  opacity: 0;
  color: #fff;
  cursor: text;
  transition: all 0.3s;
}

.col-1-of3:target .btn-none:hover .fig-caption {

  visibility: visible;
  opacity: 01;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  transition: all 0.3s;
  font-size: 3rem
}

.col-1-of3:target .fig-caption {
  transform: translate(-50%, 50%);
  position: absolute;
  left: 50%;
  top: 50%;
  transition: all 0.3s;
  display: inline-block;
  width: 50%;
  text-align: center;
}

.img-gallery:hover {
  outline: 10px solid #2998ff;
  outline-offset: 10px;
  transform: scale(1.1);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.50);
}

.row-grid {
  max-width: 130rem;
  margin: 0 3rem;

}

.row-grid::after {
  content: '';
  clear: both;
  display: table;
}

.row-grid .col-1-of3 {
  width: calc((100% - 12rem) / 3);
  transition: all 0.3s
}

.row-grid:not(:last-child) {
  margin-bottom: 4rem
}

@media only screen and (max-width: 56.25em) {
  .row-grid:not(:last-child) {
    margin-bottom: 6rem
  }
}

@media only screen and (max-width: 56.25em) {
  .row-grid {
    max-width: 50rem;
    padding: 0 3rem;
    margin: 0 auto
  }
}

.col-1-of3:target .btn-none:hover .img-gallery {
  filter: blur(3px) brightness(70%)
}

.row-grid [class^="col-"] {
  float: left
}

.col-1-of3 {
  margin: 2rem;
}

@media only screen and (max-width: 56.25em) {
  .row-grid [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem
  }
}

@media only screen and (max-width: 56.25em) {
  .row-grid [class^="col-"] {
    width: 100% !important
  }
}

.img-close {
  text-decoration: none;
  display: none;
  z-index: 1000;
}

.img-close:hover {
  color: #ffd300
}

.img-close:active {
  color: red
}

.col-1-of3:target .img-close {
  text-decoration: none;
  font-size: 8rem;
  display: inline-block;
  position: fixed;
  right: 10%;
  top: 10%;
}

@keyframes imageAnimation {
  0% {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }

  100% {
    height:  100vh;
    visibility: visible;
    opacity: 1;

  }
}

@media (max-width:900px) {
  .col-1-of3:target .btn-none {
    max-width: 70%;
    top: 55%;
    left: 45%;
    transform: translate(-50%, -53.25%) scale(1.9);
  }
  .col-1-of3:target .btn-none:hover .fig-caption{
    font-size: 2.6rem;
    width: 50%;
    text-align: center;
  }
}
@media (max-width:450px){
  .col-1-of3:target .btn-none {
    max-width: 70%;
    top: 60%;
    transform: translate(-50%, -53.25%) scale(2.2);
  }
  .col-1-of3:target .btn-none:hover .fig-caption{
    font-size: 1rem;
    width: 50%;
  }
}