#img1style{
  width: 50%;
}
.composition {
  position: relative;
  width: 100rem;
  height: 60rem;
}
#composition-photo {
  max-width: 70%;
  height: 30rem;
  box-shadow: 0 1.5rem 3rem rgb(0, 0, 0);
  border-radius: 2px;
  transition: all .4s;
  z-index: 10;
  position: absolute;
  outline-offset: 20px;
  margin-bottom: 3.5rem;
  margin-top: 3rem;

}

#composition-photo:hover {
  transform: scale(1.1) translateY(1rem);
  box-shadow: 0 2rem 5rem rgb(0, 0, 0);
  z-index: 20;
  outline: 1.5rem solid rgba(86, 67, 250);
  cursor: pointer;
}

.composition:hover #composition-photo:not(:hover) {
  transform: scale(0.9);
}

.ph1 {
  left: 10%;
  top: 2rem;

}

.ph2 {
  left:25% ;
  top: 5rem;

}

.ph3 {
  left:40%;
  top: 10rem;

}