@import url('https://fonts.googleapis.com/css?family=Righteous|Tangerine&display=swap');
body{
  font-family: 'Righteous', cursive;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
.singer_name{
  font-family: 'Tangerine', cursive;
  
}